$theme-color=#d8ab1f
$theme-color-dark=#AC8818
$theme-color-light=#E3C462
//$theme-color=#ea4141
//$theme-color-dark=#cc4242
//$theme-color-light=#ea4141
$secondary-color=#29BB43
$theme-gray=#333
$theme-light-gray=#f4f4f4
